# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json

# Import API key
from api_keys import myKey

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [36]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []
countries = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1750)  
lngs = np.random.uniform(low=-180.000, high=180.000, size=1750)
lat_lngs = zip(lats, lngs)
#uniform is to have the numbers evenly distributed
#size is how many random numbers will be generated.
#we are saying, generate 1500 random evenly distributed numbers between -90 and 90.

# Identify nearest city for each lat, lng combination
for each in lat_lngs:
    city = citipy.nearest_city(each[0], each[1]).city_name 
    country = citipy.nearest_city(each[0], each[1]).country_code 
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
        countries.append(country)

# Print the city count to confirm sufficient count
len(cities)

#612 cites are returned.   There must be at least 500 on the next part of finding the weather.  If not, then must come back to this step and increase size.

678

In [37]:
len(countries)

678

In [38]:
#??  how do I see the ln_lngs list?
print(lat_lngs)

<zip object at 0x0000018F517845C8>

In [39]:
print(lngs)

[ -96.47662558   57.27440049 -160.75420586 ...   90.15610647   48.42638822
 -161.51925875]

In [40]:
#

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [41]:
#first, perform a check on a single city.

In [42]:
url = "http://api.openweathermap.org/data/2.5/weather?"
city = "alofi"
units = "imperial"

# Build query URL
query_url = url + "appid=" + myKey + "&q=" + city + "&units=imperial"
#note:   adding imperial units will return the temperature in farenheight and the wind speed in miles per hour
print(query_url)

http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&q=alofi&units=imperial

In [43]:
# Get weather data
weather_response = requests.get(query_url)
weather_json = weather_response.json()

In [44]:
print(json.dumps(weather_json, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 68
    },
    "cod": 200,
    "coord": {
        "lat": -19.06,
        "lon": -169.92
    },
    "dt": 1554058800,
    "id": 4036284,
    "main": {
        "humidity": 94,
        "pressure": 1010,
        "temp": 78.8,
        "temp_max": 78.8,
        "temp_min": 78.8
    },
    "name": "Alofi",
    "sys": {
        "country": "NU",
        "id": 7306,
        "message": 0.0041,
        "sunrise": 1554053160,
        "sunset": 1554096080,
        "type": 1
    },
    "weather": [
        {
            "description": "broken clouds",
            "icon": "04d",
            "id": 803,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 260,
        "speed": 9.17
    }
}

In [45]:
#Success!   Able to retrieve a single city.
#now retrieve each individual piece of data needed for the loop

In [46]:
print(weather_json["name"])

Alofi

In [47]:
print(weather_json["coord"]["lat"])

-19.06

In [48]:
print(weather_json["main"]["temp"])

78.8

In [49]:
print(weather_json["main"]["humidity"])

94

In [50]:
print(weather_json["clouds"]["all"])

68

In [51]:
print(weather_json["wind"]["speed"])

9.17

### need a dataframe containing city and country to begin
NOTE:   the Weather API will take only a city; however, if multiples are found, API responds with a list of results that match a searching word. 
<BR>
Therefore, I will begin with a list of cities and countries which can also be passed to the 
    <BR>q city name and country code divided by comma, use ISO 3166 country codes
        
<BR> https://openweathermap.org/current

In [52]:
#Begin with the city and country list which was created in the begining.

cityCountry = pd.DataFrame(list(zip(cities, countries)),
              columns=['city','country'])

cityCountry.head()

           city country
0  punta arenas      cl
1       salalah      om
2        bethel      us
3       mataura      pf
4      olafsvik      is

In [53]:
#confirm there are at least 500 countries
len(cityCountry)

678

In [54]:
# create a data frome with the values needed for the API calls

cityCountry2 = cityCountry
cityCountry2["location"] = (cityCountry2["city"] + ", " + cityCountry2["country"])
cityCountry2["newCity"] = ""
cityCountry2["newCountry"] = ""
cityCountry2["lat"] = ""
cityCountry2["long"] = ""
cityCountry2["tempF"] = ""
cityCountry2["humidity"] = ""
cityCountry2["cloud"] = ""
cityCountry2["windMPH"] = ""
cityCountry2["maxTemp"] = ""
cityCountry2.head()

,city,country,location,newCity,newCountry,lat,long,tempF,humidity,cloud,windMPH,maxTemp
0,punta arenas,cl,"punta arenas, cl",,,,,,,,,
1,salalah,om,"salalah, om",,,,,,,,,
2,bethel,us,"bethel, us",,,,,,,,,
3,mataura,pf,"mataura, pf",,,,,,,,,
4,olafsvik,is,"olafsvik, is",,,,,,,,,

## Retrieve data for only 10 cities
Practice before attemping to get data for 500+ cities

In [55]:
#create a new df with only 10 records
cityCountrySample = cityCountry2.head(10)
cityCountrySample.head(20)

,city,country,location,newCity,newCountry,lat,long,tempF,humidity,cloud,windMPH,maxTemp
0,punta arenas,cl,"punta arenas, cl",,,,,,,,,
1,salalah,om,"salalah, om",,,,,,,,,
2,bethel,us,"bethel, us",,,,,,,,,
3,mataura,pf,"mataura, pf",,,,,,,,,
4,olafsvik,is,"olafsvik, is",,,,,,,,,
5,inhambane,mz,"inhambane, mz",,,,,,,,,
6,busselton,au,"busselton, au",,,,,,,,,
7,palabuhanratu,id,"palabuhanratu, id",,,,,,,,,
8,blackwater,au,"blackwater, au",,,,,,,,,
9,xiongyue,cn,"xiongyue, cn",,,,,,,,,

In [56]:
#ensure I can get a single response using parameters
parameters = {"appid": myKey,
             "units": "imperial",
             "q": "vaini, to"}
base_url = "http://api.openweathermap.org/data/2.5/weather?"

In [57]:
#make the response in json format by adding .json()
singleResponse = requests.get(base_url, params=parameters)

In [58]:
print(singleResponse.url)

http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=vaini%2C+to

In [59]:
singleResponseJ = singleResponse.json()

In [60]:
print(json.dumps(singleResponseJ, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 20
    },
    "cod": 200,
    "coord": {
        "lat": -21.2,
        "lon": -175.2
    },
    "dt": 1554058800,
    "id": 4032243,
    "main": {
        "humidity": 94,
        "pressure": 1010,
        "temp": 77,
        "temp_max": 77,
        "temp_min": 77
    },
    "name": "Vaini",
    "sys": {
        "country": "TO",
        "id": 7285,
        "message": 0.005,
        "sunrise": 1554140885,
        "sunset": 1554183652,
        "type": 1
    },
    "visibility": 10000,
    "weather": [
        {
            "description": "few clouds",
            "icon": "02d",
            "id": 801,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 140,
        "speed": 8.05
    }
}

In [61]:
print(singleResponseJ["name"])

Vaini

In [62]:
#success!  I can get a valid URL using parameters.

In [63]:
#begin by knowing the number of cities
print("Number of cities to begin: " + str(len(cityCountry)))

Number of cities to begin: 678

In [64]:
pd.options.mode.chained_assignment = None  # default='warn'   Adding to ignore the warning for appending the values in the next step.

In [76]:
# create a parameters dict that will be updated with new city each iteration
parameters = {"appid": myKey,
             "units": "imperial"}

print("---------------------------------------------") 
print("Beginning Data Retrieval")
print("---------------------------------------------") 
      
#begin by knowing the number of cities
print("Number of cities to obtain data: " + str(len(cityCountry))) 
print("---------------------------------------------")       

# Loop through the cityCountrySample and perform a search on each
for index, row in cityCountrySample.iterrows():
    base_url = "http://api.openweathermap.org/data/2.5/weather?"

    city = row['city']
    country = row['country']

    # update address key value
    parameters['q'] = f"{city},{country}"

    # make request
    cities_data = requests.get(base_url, params=parameters)
    
    #print the record number  ??? how do I print the index number?
    print("Retrieving index # " + str(index) + " | " + row["city"] + ", " + row["country"])
    
    #confirm the URL
    print("  " + (cities_data.url))
        
    # convert to json
    citiesJ = cities_data.json()
    
    try:
        cityCountrySample.loc[index, "newCity"] = citiesJ["name"]
    except:
        print("     Missing city name... skipping data.")     
    
    try:    
        cityCountrySample.loc[index, "newCountry"] = citiesJ["sys"]["country"]
    except: 
        print("     Missing country name... skipping data.")
 
    try:    
        cityCountrySample.loc[index, "lat"] = citiesJ["coord"]["lat"]
    except: 
        print("     Missing latitude... skipping data.")
        
    try:    
        cityCountrySample.loc[index, "long"] = citiesJ["coord"]["lon"]
    except: 
        print("     Missing longitude... skipping data.")
        
    try:    
        cityCountrySample.loc[index, "tempF"] = citiesJ["main"]["temp"]
    except: 
        print("     Missing temp(F)... skipping data.")
        
    try:    
        cityCountrySample.loc[index, "humidity"] = citiesJ["main"]["humidity"]
    except: 
        print("     Missing humidity... skipping data.")
        
    try:    
        cityCountrySample.loc[index, "cloud"] = citiesJ["clouds"]["all"]
    except: 
        print("     Missing %of cloudiness... skipping data.")
     
    try:    
        cityCountrySample.loc[index, "windMPH"] = citiesJ["wind"]["speed"]
    except: 
        print("     Missing wind speed... skipping data.")
        
    try:    
        cityCountrySample.loc[index, "maxTemp"] = citiesJ["main"]["temp_max"]
    except: 
        print("     Missing maximum temperature... skipping data.")
    
    #the openweather API is free for up to 60 calls per minute.  Add a sleep timer to wait .75 seconds between calls.
    time.sleep(.75)

print("---------------------------------------------")   
print("Date Retrieval Complete")
print("---------------------------------------------")   
    
# Visualize to confirm new city and new country appear
cityCountrySample.head(10)

---------------------------------------------
Beginning Data Retrieval
---------------------------------------------
Number of cities to obtain data: 678
---------------------------------------------
Retrieving index # 0 | punta arenas, cl
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=punta+arenas%2Ccl
Retrieving index # 1 | salalah, om
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=salalah%2Com
Retrieving index # 2 | bethel, us
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=bethel%2Cus
Retrieving index # 3 | mataura, pf
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=mataura%2Cpf
     Missing city name... skipping data.
     Missing country name... skipping data.
     Missing latitude... skipping data.
     Missing longitude... skipping data.
     Missing temp(F)... skipping data.
     Missing humidity... skipping data.
     Missing %of cloudiness... skipping data.
     Missing wind speed... skipping data.
     Missing maximum temperature... skipping data.
Retrieving index # 4 | olafsvik, is
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=olafsvik%2Cis
     Missing city name... skipping data.
     Missing country name... skipping data.
     Missing latitude... skipping data.
     Missing longitude... skipping data.
     Missing temp(F)... skipping data.
     Missing humidity... skipping data.
     Missing %of cloudiness... skipping data.
     Missing wind speed... skipping data.
     Missing maximum temperature... skipping data.
Retrieving index # 5 | inhambane, mz
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=inhambane%2Cmz
Retrieving index # 6 | busselton, au
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=busselton%2Cau
Retrieving index # 7 | palabuhanratu, id
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=palabuhanratu%2Cid
     Missing city name... skipping data.
     Missing country name... skipping data.
     Missing latitude... skipping data.
     Missing longitude... skipping data.
     Missing temp(F)... skipping data.
     Missing humidity... skipping data.
     Missing %of cloudiness... skipping data.
     Missing wind speed... skipping data.
     Missing maximum temperature... skipping data.
Retrieving index # 8 | blackwater, au
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=blackwater%2Cau
Retrieving index # 9 | xiongyue, cn
  http://api.openweathermap.org/data/2.5/weather?appid=8bea25d5e18b7c2fb2ee3ac12cec5dad&units=imperial&q=xiongyue%2Ccn
---------------------------------------------
Date Retrieval Complete
---------------------------------------------

,city,country,location,newCity,newCountry,lat,long,tempF,humidity,cloud,windMPH,maxTemp
0,punta arenas,cl,"punta arenas, cl",Punta Arenas,CL,-53.16,-70.91,55.18,66,75,13.87,55.4
1,salalah,om,"salalah, om",Salalah,OM,17.01,54.1,78.8,74,40,4.7,78.8
2,bethel,us,"bethel, us",Bethel,US,60.79,-161.76,40.06,70,1,3.36,42.8
3,mataura,pf,"mataura, pf",,,,,,,,,
4,olafsvik,is,"olafsvik, is",,,,,,,,,
5,inhambane,mz,"inhambane, mz",Inhambane,MZ,-23.87,35.38,71.21,100,0,6.38,71.21
6,busselton,au,"busselton, au",Busselton,AU,-33.64,115.35,67.73,39,44,15.21,71.01
7,palabuhanratu,id,"palabuhanratu, id",,,,,,,,,
8,blackwater,au,"blackwater, au",Blackwater,AU,-23.58,148.88,53.75,62,0,8.5,53.75
9,xiongyue,cn,"xiongyue, cn",Xiongyue,CN,40.18,122.12,18.38,65,0,2.46,18.38

In [73]:
#determine the number of columns with no values
#https://stackoverflow.com/questions/43815851/python-dataframe-get-null-value-counts
cityCountrySample.applymap(lambda x: not x or pd.isnull(x)).sum()

city          0
country       0
location      0
newCity       3
newCountry    3
lat           3
long          3
tempF         3
humidity      3
cloud         6
windMPH       3
maxTemp       3
dtype: int64

In [80]:
cityCountrySample.describe()

,city,country,location,newCity,newCountry,lat,long,tempF,humidity,cloud,windMPH,maxTemp
count,10,10,10,10,10,10,10,10,10,10,10,10
unique,10,9,10,8,7,8,8,8,8,6,8,8
top,olafsvik,au,"busselton, au",,,,,,,0,,
freq,1,2,1,3,3,3,3,3,3,3,3,3

In [90]:
cityCountrySample.head(10)

,city,country,location,newCity,newCountry,lat,long,tempF,humidity,cloud,windMPH,maxTemp
0,punta arenas,cl,"punta arenas, cl",Punta Arenas,CL,-53.16,-70.91,55.18,66,75,13.87,55.4
1,salalah,om,"salalah, om",Salalah,OM,17.01,54.1,78.8,74,40,4.7,78.8
2,bethel,us,"bethel, us",Bethel,US,60.79,-161.76,40.06,70,1,3.36,42.8
3,mataura,pf,"mataura, pf",,,,,,,,,
4,olafsvik,is,"olafsvik, is",,,,,,,,,
5,inhambane,mz,"inhambane, mz",Inhambane,MZ,-23.87,35.38,71.21,100,0,6.38,71.21
6,busselton,au,"busselton, au",Busselton,AU,-33.64,115.35,67.73,39,44,15.21,71.01
7,palabuhanratu,id,"palabuhanratu, id",,,,,,,,,
8,blackwater,au,"blackwater, au",Blackwater,AU,-23.58,148.88,53.75,62,0,8.5,53.75
9,xiongyue,cn,"xiongyue, cn",Xiongyue,CN,40.18,122.12,18.38,65,0,2.46,18.38

In [112]:
#At least 500 cities must be included for the next step of creating graphics.   Ensure there are at least 500 cities.

#obtain the number of records where a city was not found
noRecord = len(cityCountrySample[cityCountrySample['newCity'] == ""])
print("Records not found in the weather database: " + str(noRecord))

#subtract these from the number of records at the beginning
endRecords = (len(cityCountry)) - noRecord

beginRecords = (len(cityCountry))

print("Beginning Records: " + str(beginRecords))
print("Ending Records: " + str(endRecords))

if endRecords < 500:
    print("Cannot continue.  There must be at least 500 records.  Please run from the beginning to gain a new data sample.")
    
else: 
    print("There are more than 500 records!   Continue with the graphs.")

Records not found in the weather database: 3
Beginning Records: 678
Ending Records: 675
There are more than 500 records!   Continue with the graphs.

## Retrieve data on all cities 
Since the practice run on 10 entries works well, complete the exercise on all records.

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot